services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    user: "1000:1000"
    network_mode: ${JELLYFIN_NETWORK_MODE:-host}
    security_opt:
      - apparmor:unconfined
    volumes:
      - /var/run/dbus:/var/run/dbus
      - /var/run/avahi-daemon/socket:/var/run/avahi-daemon/socket
      - ${JELLYFIN_CONFIG_PATH:-./config}:/config
      - ${JELLYFIN_CACHE_PATH:-./cache}:/cache
      - type: bind
        source: ${JELLYFIN_MEDIA_PATH:-/mnt/starr_data/data/media}
        target: /media
        read_only: true
    restart: unless-stopped